* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
    --background-color: #fffaf5;
    --desc-color: #656689;
    --title-color: #5e6085;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
}

/* Commons */
a {
    text-decoration: none;
}

button {
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

.btn {
    padding: 0 8px;
    min-width: 100px;
    height: 56px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 99px;
    border: 1px solid var(--secondary-color);
}

.container {
    width: 1169px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    color: var(--primary-color);
    font-family: Sora;
}

.section-heading.lv1 {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.section-heading.lv2 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    color: var(--desc-color);
    line-height: 1.87;
}

.section-title {
    color: var(--title-color);
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.row {
    display: flex;
    align-items: center;
}

/* Header */
.header {
    position: sticky;
    top: -18px;
    z-index: 99;
    padding-top: 18px;
    background-color: var(--background-color);
}

.navbar {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__name {
    font-family: "Sora", sans-serif;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    padding: 4px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar-item.active {
    color: var(--primary-color);
    text-shadow: 1px 0 0;
}

.navbar-item:hover {
    text-decoration: underline;
}

.header-cta {
    min-width: 117px;
    height: 50px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    transition: background 0.2s, color 0.2s;
}

.header-cta:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

/* Hero */
.hero {
    margin-top: 50px;
    padding: 50px 0;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images {
    position: relative;
    width: 609px;
    height: 582px;
}

.images__first-icon,
.images__second-icon {
    position: absolute;
}

.images__first-icon {
    top: 16px;
    right: 108px;
}

.images__second-icon {
    left: 0;
    bottom: 104px;
}

.images__first-background {
    position: absolute;
    left: 58px;
    width: 63.7%;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
    overflow: hidden;
}

.images__first-img {
    width: 370px;
    height: 718px;
    object-fit: cover;
}
.images__second-background {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 30.5%;
    height: 244px;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
    overflow: hidden;
}

.images__second-img {
    width: 184px;
    height: 276px;
    object-fit: cover;
}

.images__label {
    padding: 18px 14px;
    position: absolute;
    left: 160px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.pet-info + .pet-info {
    margin-top: 40px;
}

.pet-block {
    position: relative;
}

.pet-info:not(.pet-info + .pet-info) .pet-block::after {
    position: absolute;
    bottom: -18px;
    content: "";
    display: inline-block;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.pet-block__background {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    overflow: hidden;
}

.pet-block__avatar {
    width: 40px;
    height: 52px;
    object-fit: cover;
}

.pet-block__body {
    margin-left: 10px;
}

.pet-block__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.pet-block__line {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--primary-color);
}

.pet-block__line--haft {
    width: 39px;
}

.hero__info {
    margin-left: 82px;
    width: 517px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__body-row {
    margin-top: 38px;
}

.hero-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    height: 60px;
    background: var(--secondary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);

    color: #fff;
    font-weight: 600;
}

.btn--round {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.btn--arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fd5056;
    border-left: none;
    border-top: none;
    rotate: -45deg;
    translate: -26%;
}

.hero__schedule {
    margin-left: 24px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 80px;
    padding: 77px 0;
}

.about__body {
    position: relative;
}

.about__row {
    justify-content: space-between;
}

.about-info__heading {
    margin-top: 15px;
    width: 446px;
}

.about-info__desc {
    margin-top: 24px;
    width: 431px;
}

.ticked-row {
    margin-top: 54px;
}

.ticked-row + .ticked-row {
    margin-left: 62px;
}

.ticked-box {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.ticked-box::before {
    position: absolute;
    top: 56%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #fff2e5;
    border-radius: 99px;
}

.ticked-box::after {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #fff2e5;
    border-radius: 99px;
}

.ticked-text {
    width: 163px;
    white-space: nowrap;
    margin-left: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about-images__background {
    position: absolute;
    z-index: 1;
    bottom: -77px;
    right: 40px;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about-images__first-icon {
    position: absolute;
    top: 100px;
    right: -25px;
}

/* .about-images__second-icon {
    position: absolute;
    right: 0;
    top: 0;
} */

.about-images__img {
    position: absolute;
    bottom: -76px;
    right: 66px;
    z-index: 50;
    width: 450px;
    height: 602px;
    object-fit: cover;
}
